<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Usuário</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>
        .error-message {
            color: red;
            font-weight: bold;
        }
    </style>
</head>
<body>

    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('home_page') }}">Home</a></li>
                <li><a href="{{ url_for('lista_autores') }}">Autores</a></li>
                <li><a href="{{ url_for('lista_livros') }}">Livros</a></li>
                <li><a href="{{ url_for('cadastra_usuario') }}">Cadastrar Usuário</a></li>
                <li><a href="{{ url_for('login') }}">Login</a></li>
            </ul>
        </nav>
    </header>

    <div class="container-signup">
        <h1>Cadastrar</h1>

        {% if message %}
            <p class="error-message">{{ message }}</p>
        {% endif %}

        <form action="{{ url_for('cadastra_usuario') }}" method="POST">
            <label for="nome_usuario">Nome</label><br>
            <input type="text" id="nome_usuario" name="nome_usuario"><br><br>

            <label for="senha_usuario">Senha</label><br>
            <input type="password" id="senha_usuario" name="senha_usuario"><br><br>

            <button type="submit">Cadastrar</button>
        </form>

        <p>Já possui uma conta? <a href="{{ url_for('login') }}">Login</a></p>
    </div>

</body>
</html>
